.logo-carousel-button {
	background: transparent;
	border: 3px solid #12356a;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
}

.logo-carousel-icon {
	width: 15px;
	height: 12px;
}

.logo-carousel-icon.left {
	transform: rotate(180deg);
}
