.question {
	font: normal normal  300 14px/28px Source Sans Pro;
	color: #58595b;
	/* text-align: right; */
}

.question-underlined {
	font: normal normal bold 14px/28px Source Sans Pro;
	color: #58595b;
	/* text-decoration: underline; */
	border-bottom: 0.5px solid #383737;
	padding-bottom: 3px;
}
.question-underlined:hover {
	text-decoration: none;
	color: #58595b;
}

.header-banner-logo-text {
	color: #05386b;
	font: normal normal 300 12px/12px Source Sans Pro;
}

.header-banner-logo-text1 {
	color: #05386b;
	font: normal normal normal 14px/18px Source Sans Pro;
}

/* .homebanner-heading {
	font-size: 3rem;
} */

.small-banner {
	box-shadow: 0px 10px 30px #00000029;
}

.thumbnail-image {
	width: 90%;
}

.line-height-05 {
	line-height: 0.5;
}

.homebanner-logo {
	/* width: 144px; */
}

@media screen and (max-width: 1024px) {
	.homebanner-heading {
		font-size: 3rem;
	}
	.homebanner-logo {
		width: 180px;
	}
}

.data-square-icon-heading {
	font: normal normal 600 15px/20px Source Sans Pro;
	letter-spacing: 0px;
	color: #12356a;
}
.paddingStop{
	padding-left: 8vw;
	/* padding-right: 1rem; */
}

video {
	object-fit: cover;
}

.happyclients-card {
	box-shadow: 0px 3px 6px #00000029;
	width: 480px;
	height: 300px;
}
.data-heading.bannerheading {
	font-size: 28px;
}
/* .banner-contact-details {
	padding-left: 0.8rem;
}

@media screen and (max-width: 486px) {
	.banner-contact-details {
		padding-left: 0;
	}
} */

@media screen and (max-width: 620px) {
	.happyclients-card {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 440px) {
	.homebanner-heading {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 320px) {
	.homebanner-heading {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 600px) {
  .data-square-icon-heading {
	font: normal normal 600 13px/20px Source Sans Pro;
	
}
.paddingCv{
	padding: 0vw 8vw
}

.paddingStop{
	/* padding-left: 8vw; */
	padding-right: 8vw;
}
}