.bg-footer {
  background-color: #12356a0d;
}

.footer-heading {
  font: normal normal 900 46px/42px Source Sans Pro;
}
.footer-follow {
  font: normal normal 600 11px/15px Source Sans Pro;
  letter-spacing: 1.1px;
}
