.ResponsiveCardCarousel.swiper-container {
	width: 100%;
	height: auto;
	/* padding-bottom: 3.75rem; */
}

.ResponsiveCardCarousel .swiper-button-next,
.swiper-button-prev {
	top: auto;
	bottom: 0;
	height: auto;
}
.ResponsiveCardCarousel .swiper-button-prev {
	left: -8px;
}

.ResponsiveCardCarousel .swiper-button-next {
	right: -8px;
}
.ResponsiveCardCarousel .swiper-button-next.swiper-button-disabled {
	right: -8px;
}

.ResponsiveCardCarousel .swiper-button-prev.swiper-button-disabled {
	left: -8px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
	font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
	.ResponsiveCardCarousel .swiper-button-next {
		left: 8%;
	}
	.ResponsiveCardCarousel .swiper-button-next.swiper-button-disabled {
		left: 8%;
	}
}

@media screen and (max-width: 375px) {
	.ResponsiveCardCarousel .swiper-button-next {
		left: 10%;
	}
	.ResponsiveCardCarousel .swiper-button-next.swiper-button-disabled {
		left: 10%;
	}
}

.ResponsiveCardCarousel .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* background: #fff; */

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: start;
	justify-content: start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: start;
	align-items: start;
	max-width: 240px;
}

.swiper-slide {
	width: 100%;
}
.ResponsiveCardCarousel.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: none;
	/* left: 15px; */
}

.ResponsiveCardCarousel.swiper-container-android .swiper-slide {
	width: 195px;
}

/* .ResponsiveCardCarousel .swiper-container-android .swiper-slide, .swiper-wrapper

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
    left: 50px;
}
*/
