body,
div {
  font-family: "Source Sans Pro", sans-serif;
}

.bg-prussian-blue {
  background-color: #12356a;
  color: white;
}

.bg-transparent {
  background-color: transparent;
  color: #ffffff;
}

.bg-lightgray {
  background-color: #05386b0a;
}

.text-prussian-blue {
  color: #12356a !important;
}

.text-green {
  color: #8ee4af;
}

.text-green-dark {
  color: #379683;
}

.icon-white {
  fill: white;
}

.bg-grayish {
  background-color: #12356a33;
}

h1,
h2,
h3 {
  color: #12356a;
}

p {
  color: #58595b;
  font-size: 16px;
}

.data-heading {
  font-weight: bold;
  font-size: 34px;
}
.underlineSm {
  z-index: -1;
  bottom: 25%;
  border-bottom: 8px solid #00d9ac;
  width: 100%;
  left: 0;
}
.upper-grid {
  height: auto;
  width: 90%;
  /* object-fit: none; */
}

.upper-grid.top {
  padding-left: 6%;
  padding-bottom: 12%;
}

.hide-grid {
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}

.light-gray-color {
  background-color: #05386b1a;
}
.text-lg {
  font-size: 5.5vw;
  font-weight: normal;
}

.z-1 {
  z-index: 1;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-weight-600 {
  font-weight: 600;
}

.text-normal {
  font-size: 16px;
}

.text-small {
  font-size: 18px;
  font-weight: normal;
}

.text-xs {
  font-size: 11px;
}

.text-xxs {
  font-size: 7px;
}

.underline-green {
  border-bottom: 1px solid #5cdb95;
}

.border-bottom-green {
  border-bottom: 3px solid #5cdb95;
}

.header-margin {
  margin-top: 94px;
}

.box-shadow-2 {
  box-shadow: 2px 4px 8px #00000029;
}

.customButton {
  border-radius: 8px;
}
/* Width */

.w-70 {
  width: 70%;
}

.w-86 {
  width: 85px;
}

.w-max {
  width: max-content;
}

.w-50 {
  width: 50%;
}

.text-height-1 {
  line-height: 1;
}

.underlined {
  float: left;
  height: 92px;
  position: relative;
}
.underlined:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #f66;
  z-index: -1;
  height: 15px;
  margin-bottom: 20px;
}
/* end */

/* Height */

.min-full-height {
  min-height: 100vh;
}

.h-768 {
  min-height: 674px;
}

/* end */

/* Margin */

.mb-auto {
  margin-bottom: auto;
}

/* end */

/* Padding */

.padding-x {
  padding-left: 10vw;
  padding-right: 10vw;
}

.padding-all {
  padding: 5vw 10vw;
}

.padding-left {
  padding-left: 10vw;
}

/* end */

/* Media Queries */

@media srceen and (min-width: 992) {
  .text-lg {
    font-size: 10.5vw;
  }
}

/* end */
