.btn.btn-green {
	background-color: #5cdb95;
}

.btn.btnSize {
	font-size: 0.8125rem;
	border-radius: 8px;
	width: 202px;
	/* height: 47px; */
	box-shadow: 2px 4px 8px #00000029;
}

.btn.btnSize.btn-medium {
	max-width: 210px;
}

.btn.btn-white {
	background-color: white;
}

.btn.btn-atomic-tangerine {
	background-color: #ff9171;
}

.btn.btnSize.btn-small {
	max-width: max-content;
}

/* .btn.btnSize {
	box-shadow: 2px 4px 8px #00000029;
} */

.btn.btn-prussian-blue {
	background-color: #12356a;
}
